<div class="side-nav-container">
<ul class="nav-list">
  <li>
      <img src="/public/images/dashboard.png" alt="Avatar" style="width: 50px;"><a href="/"> Dashboard </a>
  </li>
  <li>
      <img src="/public/images/appointment.png" alt="Avatar" style="width: 50px;"><a href="/appointment"> Appointment </a>
  </li>
  <li>
      <img src="/public/images/patiant.png" alt="Avatar" style="width: 50px;"> /<a href="/patient">Patiants </a>
  </li>
  <li>
      <img src="/public/images/lab.png" alt="Avatar" style="width: 50px;"> <a href="/labs">Labs </a>
  </li>
  <li>
      <img src="/public/images/insurancecom.png" alt="Avatar" style="width: 50px;"><a href="/company">Insurance Companies</a>
  </li>
  <li>
      <img src="/public/images/calender.png" alt="Avatar" style="width: 50px;"><a href="">Calculater</a>
  </li>
  <li>
      <img src="/public/images/emailnot.png" alt="Avatar" style="width:50px;"><a href="">Email-Notification</a>
  </li>
</ul>
</div>